//- modecontrols structure
#modecontrols
    button#my-documents-button.click-button Untersuchungen
    button#patient-approval-button.click-button Freigabe durch Patienten
    button#share-to-doctor-button.click-button Weiterleiten
