// modecontrols styles
#modecontrols
    display flex
    justify-content: end

    button
        margin-left 5px
        transition background-color 0.3s, color 0.3s
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap;
        flex-shrink: 1

    button.isActive
        background-color cd-darkblue
        color cd-turquoise
        pointer-events: none