include ../svgiconsmodule/svgicons.pug
//- include ../hiddentextmodule/hiddentext.pug

header: include ../headermodule/header.pug
#center-table-button.click-button: svg: use(href="#svg-overscan-icon")
main: include components/main.pug
footer: include ../footermodule/footer.pug