/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

/*==============================================================================
Index Styles - main
==============================================================================*/
@import 'components/main.styl'

#center-table-button
    background-color transparent
    padding 10px
    position sticky
    top 0
    right 0
    svg
        width: 40px
        height 40px
