// selectionaction styles
#selectionaction.shown
    display block

#selectionaction
    position absolute
    top 10px
    left 230px
    z-index 99
    display: none
    button
        cursor pointer
        background-color cd-turquoise
        color white
        font-size: 14px
        padding 10px
        border-radius: 5px
        text-transform: uppercase

@media screen and (max-width: 600px)
    #selectionaction
        top 55px
        left 230px