// selectionaction styles
#selectionaction.shown
    display block

#selectionaction
    position absolute
    top 7px
    left 270px
    z-index 99
    display: none
    button
        cursor pointer
        background-color cd-turquoise
        color white
        font-size: 14px
        padding 10px
        border-radius: 5px
        text-transform: uppercase