//- loadcontrols structure
//- #mindate-indication Limitiert auf
//-     //- span#mindate-display
//-     span#entry-limit-display

a#forwarding-link
    //- a {{{content.forwardingLinkText}}}
    svg: use(href="#svg-forward-icon")
    .label Weiterleiten

button#back-button.click-button: svg: use(href="#svg-chevron-left-icon")
#patient-name-indication

#loadcontrols
    button#refresh-button.click-button: svg: use(href="#svg-refresh-icon")
    select#choose-date-limit
        option(value="1") 250 Einträge
        option(value="2") 500 Einträge 
        option(value="3") 1000 Einträge
        option(value="4") 2500 Einträge
        option(value="5") 5000 Einträge
        option(value="6") 10000 Einträge