#main
    #main-block-top
        input#name-input(type="text" placeholder="username")
        input#password-hash-input(type="text" placeholder="pwd-hash")
        button#login-button.click-button go!

    #main-block-content 
        include ../../overviewtablemodule/overviewtable.pug