main
    background-color cd-darkblue
    color white
    min-height: calc(100vh - 180px)
    padding-top content-padding-top
    padding-bottom content-padding-bottom
    h1
        font-size: 32pt
        font-weight: bold
        line-height: 110%

input:focus
    background-color white
    
#main-block-content
    padding: 10px
    box-sizing: border-box

#content-title
    padding-bottom 20px