//- overviewtable structure
#overviewtable
    include ../patientapprovalmodule/patientapproval.pug
    select#choose-date-limit
        option(value="1") 30 Tage
        option(value="2") 90 Tage 
        option(value="3") 180 Tage
    #gridjs-frame
