// overviewtable styles
@import '../../../node_modules/gridjs/dist/theme/mermaid.css'
#overviewtable
    width 100%

tr.gridjs-tr:nth-child(2n)
    background-color: alpha(cd-turquoise, 0.5)

td.gridjs-td
    background transparent
