// overviewtable styles
@import '../../../node_modules/gridjs/dist/theme/mermaid.css'
#overviewtable
    width 100%
    
tr.gridjs-tr:nth-child(2n)
    background-color: alpha(cd-darkblue, 0.3)

td.gridjs-td
    background transparent

.click-button
.click-button:hover
    background-color: cd-turquoise
    color white
    padding 10px
    text-transform: uppercase