// overviewtable styles
button-size = 22px

@import '../../../node_modules/gridjs/dist/theme/mermaid.css'


#overviewtable
    position relative
    width 100%

.c-table
    // height calc(100vh - 180px) !important
    width 100%

    
th.gridjs-th
    background-color #F9FAFB
    z-index 20

tr.gridjs-tr:nth-child(2n)
    background-color: alpha(cd-darkblue, 0.3)

// td.gridjs-td:nth-child(1)
//     @extends .click-button
    
//     // width 100%
//     // box-sizing: border-box
//     // padding 3px

.bild-button
.befund-button
    cursor: pointer
    // color cd-turquoise
    // border-radius: 5px
    // background-color cd-turquoise
    // color white
    margin auto
    margin-top 3px
    // padding 5px 10px
    // width: 45px
    // height 35px
    width: button-size
    height button-sizet

.bild-button:active
.befund-button:active
    opacity 0.5


td.gridjs-td
    background transparent
    font-size: 12pt
    vertical-align: middle
    padding 6px 12px
    svg
        width: button-size
        height button-size

.click-button
.click-button:hover
    overflow: hidden
    background-color: cd-turquoise
    color white
    padding 10px
    text-transform: uppercase


#choose-date-limit
    background-color: white
    position absolute
    top 7px
    right 0
    font-size: 14px
    padding 10px 0px 10px 13px
    border-radius: 5px
    border solid 1px #d2d6dc
    z-index: 99
    option
        padding 10px 13px

#choose-date-limit:focus
    background-color: white
    


#main-block-top
    background-color grey
    text-align: center